/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown-main {
    padding-top: 10px;
    color: #00ff00;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3e8e41;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 225px;
}

.dropdown-content-right {
    display: none;
    position: absolute;
    background-color: #3e8e41;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 225px;
    right: -21px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 3px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #006946;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
} 

.dropdownDivider {
    background-color: #004926;
    color: #ffff00;
}

li {
    list-style: none;
}

.disabled {
    color: #333333;
}